<%- include("templates/head") %>
<!-- CSS -->

<title> <%= pageTitle %> </title>
</head>

<%- include("templates/navBar") %>

<br><br><br>

<div class="alert alert-warning" role="alert">
  <h3 class="alert-heading text-center">LA PAGINA NO EXISTE!</h3>
</div>

<%- include("templates/scripsJS") %>

<!-- JS -->

</body>

</html>