<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #113650;">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block"></span>
      <a class=" navbar-brand" href="#">
        <i class="fas fa-university"></i>
        BIBLIOTECA
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
      <ul class="navbar-nav ml-auto flex-nowrap navbar-dark">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBook" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Prestamos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownBook">
            <a class="dropdown-item" href="loan-book">Préstamo de Libro</a>
            <a class="dropdown-item" href="#">Devolución de Libro</a>
            <a class="dropdown-item" href="#">Historial de Prestamos</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Lista de Libros</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Usuarios</a>
        </li>
      </ul>
    </div>
  </nav>

  <br><br><br>